body {
  padding-top: 70px !important;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.navbar a {
  color: #00B7FF;
}

.nav {
  display: inline-block;
}

.navbar {
  margin-bottom: 10px;
}

.navbar-inner li{
  line-height: 40px;
  letter-spacing:2px;
}

.nav-link, .navbar-brand {
  border-top: 4px solid white;
  transition: border-top .3s;
}

.nav-link:hover,
.navbar-brand:hover {
  border-top: 4px solid dodgerblue !important;
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  background-image:none;
  background-color:dodgerblue;
}

.header{
  background-color: rgba(255,255,255, .95);
  border-bottom:2px solid dodgerblue !important;
  line-height: 40px !important;
  box-shadow: 0 12px 6px -6px rgba(0,0,0, .2) !important;
}

.dropdown-menu::before,
.dropdown-menu::after {
    border: none;
    content: none !important;
}

.dropdown-menu{
    border-radius:3%;
    z-index:-3;
    margin-top:-10px;
    margin-right: -60% !important;
}

/*Home Page*/
#scroll-animate
{
  overflow: hidden;
}

#scroll-animate-main
{
  width: 100%;
  left: 0;
  position: fixed;
}

#heightPage,
#heightScroll
{
  width: 10px;
  top: 0;
  position: absolute;
  z-index: 99;
}

header
{
  width: 100%;
  height: 100%;
  background: url("/images/city.jpg") no-repeat 50% 50%;
  top: 0;
  position: fixed;
  z-index: -1;
}

footer
{
  width: 100%;
  height: 400px;
  background: gray;
  bottom: -300px;
  position: fixed;
  z-index: -1;
}

.content
{
  height: 1000px;
  min-height: 1000px;
  background: #ffffff;
  position: relative;
  z-index: 1;
}

.wrapper-parallax {
  margin-top: 100%;
  margin-bottom: 300px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.home-header h1,
.home-header h2 {
  /*width: 100%;*/
  /*height: 100%;*/
  text-transform: uppercase;
  text-align: center;
  font-family: Helvetica;
  /*font-size: 150px;*/
  color: #fff;
}

.home-header h1 {
  padding-top: 10%;
  font-size: 150px;
}

.content h1{
  line-height: 1000px;
  color: #999;
}

footer h1
{
  line-height: 300px;
}

header,
footer,
#scroll-animate-main
{
  -webkit-transition-property: all;
     -moz-transition-property: all;
      transition-property: all;

  -webkit-transition-duration: 0.4s;
     -moz-transition-duration: 0.4s;
      transition-duration: 0.4s;

  -webkit-transition-timing-function: cubic-bezier(0, 0, 0, 1);
     -moz-transition-timing-function: cubic-bezier(0, 0, 0, 1);
      transition-timing-function: cubic-bezier(0, 0, 0, 1);
}


/*Chatroom*/
.chatroom {
  background: #4C7F7F;
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 40%;
}

.chatroom input {
  border: 0;
  padding: 10px;
  width: 90%;
  margin-right: .5%;
}

.chatroom button {
  width: 9%;
  background: rgb(130, 224, 255);
  border: none;
  padding: 10px;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages li {
  padding: 5px 10px;
}

#messages li:nth-child(odd) {
  background: #eee;
}

/*Chat room List*/

.wrapper {
  width: 400px;
  margin: 0 auto;
  padding: 40px 0;
}
.wrapper.active .item {
  background-color: #f0f0f0;
}
.wrapper.active .item.active {
  background-color: #0083F5;
  color: white;
}
.item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
  width: 400px;
  height: 50px;
  transition-duration: 0.5s;
  position: relative;
  padding-top: 30px;
  text-align: center;
  font-size: 18px;
  color: black;
}
.item:hover {
  cursor: pointer;
  background-color: #f5f5f5;
}
.item .a {
  text-decoration:none !important;
}
.item.last {
  border-bottom: none;
}
.item.margin {
  margin-bottom: 20px;
  margin-top: 20px;
}
.item.active {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  border-bottom: none;
  color: black;
  transition-delay: 0.5s;
  transform: scale(1.1, 1.1);
  -webkit-transition-delay: 0.5s;
  -webkit-transform: scale(1.1, 1.1);
}

.chat-list-header {
  text-align: center;
}


/*Input*/

.input-form form .text-input {
  overflow: hidden;
  margin-bottom: .875em;
}
.input-form form input[type="text"],
.input-form form input[type="textarea"] {
  width: 300px;
  padding: 1em 0 12px;
  padding-left: 0;
  background: none;
  color: black;
  font-size: 1.2em;
  font-weight: 400;
  border: none;
}
.input-form input[type="text"]:focus + .separator,
.input-form  input[type="textarea"]:focus + .separator {
  transform: scaleX(1) translateY(-2px);
  opacity: 1;
}
.input-form  input[type="submit"] {
  color: white;
  padding: 1em 1.4em;
  font-size: 1.2em;
  border: none;
  border-radius: 10px;
}

.separator {
  height: 3px;
  width: 100%;
  display: block;
  transform: scaleX(0) translateY(-2px);
  transform-origin: 50%;
  opacity: 0;
}

.input-form  label{
  font-size: 20px;
}
.input-form {
  padding-top: 5%;
  text-align: center;
}


/*Map*/
#map {
  height: 100%;
  float: left;
  width: 70%;
}
