<!DOCTYPE html>
<html ng-app="mapChat">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body >
    <% include ../shared/navbar %>

    <div class="col-md-7">
      <div id="map" style="width:700px; height:700px;"></div>
    </div>

    <div class="col-md-5">
      <ul id="messages"></ul>
      <form class="chatroom" action="">
        <input type="text" placeholder="Address:" id="address" >

        <input type="text" placeholder="Send Message:" id="m" autocomplete="off"/><button>Send</button>
      </form>
    </div>

  </body>
</html>

<script src="https://map-n-chat.herokuapp.com/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script>
  var currentUser = <%- JSON.stringify(thisUser) %>;
</script>
<script src="/javascripts/sockets.js"></script>
<script src="/javascripts/maps.js"></script>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDJ8vVzSRhHu5mv0Dv5u8N7qJYNS-HOQ6Y&callback=initMap">
</script>
