extends ../../views/layout

block content
  h2.acount-header Create Account
  form(action="/users", method="post")
    
    input(type="text", name="new-first", id="new-first", placeholder="First Name:")
    
    input(type="text", name="new-last", id="new-last", placeholder="Last Name:")
    
    input(type="text", name="new-email", id="new-email", placeholder="Enter Email:")
    
    input(type="text", name="new-password", id="new-password", placeholder="Enter Email:")
      
    input(type="submit", class="enter-submit", value="Submit")
    
  a.back(href="/") <<
